@font-face {
	font-family: Light;
	src: url('font/OpenSauceOne-Light.ttf');
}

@font-face {
	font-family: Regular;
	src: url('font/OpenSauceOne-Regular.ttf');
}

@font-face{
	font-family: SemiBold;
	src: url('font/OpenSauceOne-SemiBold.ttf');
}

@font-face {
	font-family: ExtraBold;
  src: url('font/OpenSauceOne-ExtraBold.ttf');
}

:root {
  font-family: Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}